<!DOCTYPE html>
<html>
<head>
    <title>信息认证</title>
	<!--<link href="/Inspinia/css/bootstrap.min.css" rel="stylesheet">-->
	<!--<link href="/Inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">-->
	<!--<link href="/Inspinia/css/plugins/iCheck/custom.css" rel="stylesheet">-->
	<!--<link href="/Inspinia/css/animate.css" rel="stylesheet">-->
	<!--<link href="/Inspinia/css/style.css" rel="stylesheet">-->

	<!--<link href="/Inspinia/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">-->
    <style>
        .btn-primary {
            background-color: #1ab394;
            border-color: #1ab394;
            color: #FFFFFF;
        }

        .btn-primary:hover {
            background-color: #18a689;
            border-color: #18a689;
            color: #FFFFFF;
        }
        .btn-primary:active,
        .btn-primary:focus
        {
            background-color: #1ab394;
            border-color: #1ab394;
            color: #FFFFFF;
        }
    </style>
</head>
<body style="    background-color: white;">
<% include ../includes/header/nav/normal.ejs %>
<% include ../includes/head/normal.ejs %>

<div class="container">
    <div class="row" style="height: 60px;">

    </div>
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
            <svg height="80px" width="750px" viewBox="0 0 750 80">
                <g>
                    <line class="axis-line" x1="20" y1="35" x2="680" y2="35"
                          stroke="#ff0000">

                    </line>
                    <rect x="20" y="30" height="10" width="660" fill="#87ceeb">

                    </rect>
                </g>
                <g transform="translate(20,0)">
                    <circle r="30" cx="30" cy="35" fill="#337ab7">

                    </circle>
                    <text x="14" y="40" fill="white">
						<%= __("registerinfo.title")%>
                    </text>

                    <path d="M 100 15 L 120 35 L 100 55 L 220 55 L 240 35 L 220 15 Z" fill="#337ab7">

                    </path>
                    <text x="140" y="40" fill="white">
                        1.<%= __("registerinfo.infotx")%>
                    </text>

                    <path d="M 280 15 L 300 35 L 280 55 L 400 55 L 420 35 L 400 15 Z" fill="#337ab7">

                    </path>
                    <text x="316" y="40" fill="yellow">
                        2.<%=__("registerinfo.inforz")%>
                    </text>

                    <path d="M 460 15 L 480 35 L 460 55 L 580 55 L 600 35 L 580 15 Z" fill="#337ab7">

                    </path>
                    <text x="500" y="40" fill="white">
                        3.<%=__("registerinfo.infosh")%>
                    </text>


                    <circle r="30" cx="680" cy="35" fill="#337ab7">

                    </circle>
                    <text x="660" y="40" fill="white">
						<%=__("registerinfo.infofinish")%>
                    </text>
                </g>
            </svg>
        </div>

        <div class="col-lg-2">

        </div>

    </div>
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-7">
	        <div class="form-horizontal">
				<input type="hidden" name="userId" >
	            <div class="form-group">
		            <div class="col-sm-3" style="text-align: right"><%=__("registerinfo.chooseType")%></div>
		            <div class="col-sm-8 col-sm-offset-1">
			            <input  style="    margin: 0 10px 0 51px;"  checked="true" type="radio" name="usertype" value="1"/>
			            <span> <%=__("registerinfo.teacher")%> </span>
			            <input style="    margin: 0 10px 0 51px;"  type="radio" name="usertype" value="2"/>
			            <span> <%=__("registerinfo.agencies")%> </span>
			            <div id="erole" style="display: none;">

			            </div>
		            </div>
	            </div>
				<div id="teacher">
					<div class="form-group">
						<label  class="col-sm-3 control-label"><%=__("registerinfo.name")%>：</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="name" value=""/>
							<div id="ename" style="display: none;">

							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label" ><%=__("registerinfo.cardType")%>：</label>
						<div class="col-sm-9">
							<select class="form-control"  name="credentype" >
								<option value=""><%=__("registerinfo.choose")%></option>
								<option value ="1"><%=__("registerinfo.cardID")%></option>
								<option value="2"><%=__("registerinfo.visa")%></option>

								</select>
							<div id="ecredentype" style="display: none;">

							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label" ><%=__("registerinfo.cardNum")%>：</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="credencode" value=""/>
							<div id="ecredencode" style="display: none;">

							</div>
						</div>
					</div>

					<div class="form-group">
						<form id="frmUploadFile"  action="/users/fileUpload" enctype='multipart/form-data' method="post">
						<label  class="col-sm-3 control-label"><%=__("registerinfo.picture")%>：</label>
						<div class="col-sm-9">
							<div class="input-group">
							<input id="file" class="form-control"   type="file" name="file" />
								<img style="width:200px;height: 200px;display: none;" src=""  id="showImg">
							   <span class="input-group-btn">
								   	<button class="btn btn-primary" id="but" onclick="uploadFile('','crenden');" type="button" value="上传"><%=__("registerinfo.upload")%></button>
							<button class="btn btn-primary" id="del"  onclick="delImg('','crenden');"  type="button" style="display: none;" value="删除" >
								<%=__("registerinfo.delete")%>
							</button>


							   </span>
								</div>

							<div id="ecredencode" style="display: none;">
							<input type="hidden" name="credenImg" id="crenden">
							</div>
						</div>
						</form>
					</div>




					<div class="form-group">
						<label class="col-sm-3 control-label" ><%=__("registerinfo.pay")%>：</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="payway" />
							<div id="epayway" style="display: none;">

							</div>
						</div>
					</div>
					<div style="text-align:center;" class="form-group">

						<label id="more" onclick="moreExp();" style="cursor: pointer;"><%=__("registerinfo.more")%></label>
						<label id="hide" style="cursor: pointer;display: none;"><%=__("registerinfo.hide")%></label>
						<hr  color="#FF0000" width="100%" size="1">
					</div>
					<div id="expTeacher" class="hidDiv" style="display: none;">

						<div class="form-group">

							<label class="col-sm-3 control-label"> <%=__("registerinfo.grade")%>：</label>
							<div class="col-sm-9">
								<select class="form-control" name="level">
									<option value=""><%=__("registerinfo.choose")%></option>
									<option value="0"><%=__("registerinfo.bachelorUnder")%></option>
									<option value ="1"><%=__("registerinfo.bachelor")%></option>
									<option value ="2"><%=__("registerinfo.master")%></option>
									<option value ="3"><%=__("registerinfo.doctor")%></option>
								</select>
							</div>

						</div>
						<div class="form-group">

							<label class="col-sm-3 control-label" ><%=__("registerinfo.numDegree")%>：</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="code"/>
							</div>

						</div>

						<div class="form-group">
							<form id="frmUploadFile1"  action="/users/fileUpload" enctype='multipart/form-data' method="post">
								<label class="col-sm-3 control-label" ><%=__("registerinfo.picDegree")%>：</label>
								<div class="col-sm-9">
									<div class="input-group">
										<input id="file1" class="form-control"   type="file" name="file" />
										<img style="width:200px;height: 200px;display: none;" src=""  id="showImg1">
							             <span class="input-group-btn">
								    	<button class="btn btn-primary" id="but1" onclick="uploadFile('1','imgCert');" type="button" value="上传"><%=__("registerinfo.upload")%></button>
										<button class="btn btn-primary" id="del1"  onclick="delImg('1','imgCert');"  type="button" style="display: none;" value="删除" >
										<%=__("registerinfo.delete")%>
										</button>


									   </span>
									</div>


									<input type="hidden" name="image" id="imgCert">
								</div>

							</form>
						</div>



						<div class="form-group">
							<label class="col-sm-3 control-label" ><%=__("registerinfo.certificate")%>：</label>
							<div class="col-sm-9">
								<div class="ibox-content" style="border: 1px solid rgb(221, 207, 207)">
									<div class="row">
										<div class="col-sm-6 b-r">
											<div style="text-align: center">
											<h4 class="m-t-none m-b"><%=__("registerinfo.input")%>
											</h4></div>

											<div class="col-sm-11 col-sm-offset-1">
											<div class="form-group"><label><%=__("registerinfo.time")%>:</label> <input  type="text" id="infoTimeTextxx" class="form-control"/></div>
											<div class="form-group"><label><%=__("registerinfo.certificate")%>:</label> <textarea id="infoTextxx" class="form-control"></textarea></div>
											<div class="form-group">	<form id="frmUploadFile2"  action="/users/fileUpload" enctype='multipart/form-data' method="post">
													<label ><%=__("registerinfo.pic")%>：</label>
													<div >
														<div class="input-group">
															<input id="file2" class="form-control"   type="file" name="file" />
															<img style="width:100px;height: 100px;display: none;" src=""  id="showImg2"/>
							             <span class="input-group-btn">
								    	<button class="btn btn-primary" id="but2" onclick="uploadFile('2','honorImg');" type="button" value="上传"><%=__("registerinfo.upload")%></button>
										<button class="btn btn-primary" id="del2"  onclick="delImg('2','honorImg');"  type="button" style="display: none;" value="删除" >
											<%=__("registerinfo.delete")%>
										</button>
									   </span>
														</div>
														<input type="hidden" name="honorImg" id="honorImg">
													</div>

												</form>
											</div>
											<div>
												<button class="btn btn-sm btn-primary pull-right m-t-n-xs" id="addListxx" type="button"><strong><%=__("registerinfo.add")%></strong></button>
											</div>
											</div>
										</div>
										<div id="honorListxx" class="col-sm-5">
											<div style="text-align: center">
											<h4><%=__("registerinfo.list")%></h4>
												</div>


										</div>
									</div>
								</div>
							</div>

						</div>

						<div class="form-group">

							<label class="col-sm-3 control-label"><%=__("registerinfo.experience")%>：</label>
							<div class="col-sm-9">
								<textarea type="text" class="form-control" name="workexp"></textarea>
							</div>

						</div>
					</div>
				</div>
				<div id="org" style="display: none;">
					<div class="form-group">
						<label class="col-sm-3 control-label" ><%=__("registerinfo.comName")%>：</label>
						<div class="col-sm-9">
						<input class="form-control" type="text" name="compname" />
						<div id="compname" style="display: none;">

						</div>
							</div>
					</div>
					<div class="form-group">
						<form id="frmUploadFile4"  action="/users/fileUpload" enctype='multipart/form-data' method="post">
							<label  class="col-sm-3 control-label"><%=__("registerinfo.busPhoto")%>：</label>
							<div class="col-sm-9">
								<div class="input-group">
									<input id="file4" class="form-control"   type="file" name="file" />
									<img style="width:200px;height: 200px;display: none;" src=""  id="showImg4">
							   <span class="input-group-btn">
								   	<button class="btn btn-primary" id="but4" onclick="uploadFile('4','yyimage');" type="button" value="上传"><%=__("registerinfo.upload")%></button>
							<button class="btn btn-primary" id="del4"  onclick="delImg('4','yyimage');"  type="button" style="display: none;" value="删除" >
								<%=__("registerinfo.delete")%>
							</button>


							   </span>
								</div>

								<div id="ecredencode" style="display: none;">
									<input type="hidden" name="yyimage" id="yyimage">
								</div>
							</div>
						</form>
					</div>


				<div class="form-group">
					<label class="col-sm-3 control-label" ><%=__("registerinfo.busName")%>：</label>
					<div class="col-sm-9">
						<input class="form-control" type="text" name="leadname" />
						<div id="compname" style="display: none;">

						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" ><%=__("registerinfo.cardNum")%>：</label>
					<div class="col-sm-9">
						<input class="form-control" type="text" name="leadcode" />
						<div id="compname" style="display: none;">

						</div>
					</div>
				</div>

					<div class="form-group">
						<form id="frmUploadFile5"  action="/users/fileUpload" enctype='multipart/form-data' method="post">
							<label  class="col-sm-3 control-label"><%=__("registerinfo.picture")%>：</label>
							<div class="col-sm-9">
								<div class="input-group">
									<input id="file5" class="form-control"   type="file" name="file" />
									<img style="width:200px;height: 200px;display: none;" src=""  id="showImg5">
							   <span class="input-group-btn">
								   	<button class="btn btn-primary" id="but5" onclick="uploadFile('5','leadimage');" type="button" value="上传"><%=__("registerinfo.upload")%></button>
							<button class="btn btn-primary" id="del5"  onclick="delImg('5','leadimage');"  type="button" style="display: none;" value="删除" >
								<%=__("registerinfo.delete")%>
							</button>


							   </span>
								</div>

								<div id="ecredencode" style="display: none;">
									<input type="hidden" name="leadimage" id="leadimage">
								</div>
							</div>
						</form>
					</div>



					<div class="form-group">
						<label class="col-sm-3 control-label" ><%=__("registerinfo.certificate")%>：</label>
						<div class="col-sm-9">
							<div class="ibox-content" style="border: 1px solid rgb(221, 207, 207)">
								<div class="row">
									<div class="col-sm-6 b-r">
										<div style="text-align: center">
										<h4 class="m-t-none m-b"><%=__("registerinfo.input")%>
										</h4>
										</div>
										<div class="col-sm-11 col-sm-offset-1">
										<div class="form-group"><label><%=__("registerinfo.time")%>:</label> <input  type="text" id="infoTimeText" class="form-control"/></div>
										<div class="form-group"><label><%=__("registerinfo.certificate")%>:</label> <textarea id="infoText" class="form-control"></textarea></div>
										<div class="form-group">	<form id="frmUploadFile6"  action="/users/fileUpload" enctype='multipart/form-data' method="post">
												<label ><%=__("registerinfo.pic")%>：</label>
												<div >
													<div class="input-group">
														<input id="file6" class="form-control"   type="file" name="file" />
														<img style="width:100px;height: 100px;display: none;" src=""  id="showImg6"/>
							             <span class="input-group-btn">
								    	<button class="btn btn-primary" id="but6" onclick="uploadFile('6','infoImg');" type="button" value="上传"><%=__("registerinfo.upload")%></button>
										<button class="btn btn-primary" id="del6"  onclick="delImg('6','infoImg');"  type="button" style="display: none;" value="删除" >
											<%=__("registerinfo.delete")%>
										</button>
									   </span>
													</div>
													<input type="hidden" name="infoImg" id="infoImg">
												</div>

											</form>
										</div>
										<div>
											<button class="btn btn-sm btn-primary pull-right m-t-n-xs" id="addList" type="button"><strong><%=__("registerinfo.add")%>
												</strong></button>
										</div>
										</div>
									</div>
									<div id="honorList" class="col-sm-6">
										<div style="text-align: center">
										<h4><%=__("registerinfo.list")%>
										</h4>
											</div>


									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
	        <div class="form-group text-center">
		        <button class="btn btn-primary" id="sub" type="button" name="submit" value="提交"><%=__("registerinfo.submit")%></button>

	        </div>
	        </div>
        </div>
        <div class="col-lg-2">

        </div>

    </div>

</div>



</body>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/verify.js"></script>
<script src="/bootbox/bootbox.js" ></script>
<script>
	console.log("WOOOO: " + <%- JSON.stringify(userType) %>);
	var imageArr = new Array();
	var imageArrxx = new Array();
    function uploadFile(i,tid){

	    if(i == undefined){
		    i = '';
	    }
	    var fileValue = $("#file"+i).val();
	    if(fileValue == ''){
		    bootbox.alert('<%=__("registerinfo.upfile")%>'+"!");
		    return ;
	    }
	    var formData = new FormData($("#frmUploadFile"+i)[0]);

	    $.ajax({
		    url: '/users/fileUpload',
		    type: 'POST',
		    data: formData,
		    async: false,
		    cache: false,
		    contentType: false,
		    processData: false,
		    success: function(data){
			    if(200 === data.code) {

				    $("#showImg"+i).attr('src', data.msg.url);
				    $("#showImg"+i).show();
				    $("#file"+i).hide();
				    $("#but"+i).hide();
				    $("#del"+i).show();
					$("#"+tid).val(data.msg.url);
			    } else {
				    bootbox.alert(data.msg);
			    }

		    },
		    error: function(){
			    $("#spanMessage").html('<%=__("registerinfo.fail")%>'+"!");
		    }
	    });
    }

    function delImg(i,tid){
	    if(i == undefined){
		    i = '';
	    }
	    $("#"+tid).val('');
	    $("#showImg"+i).attr('src', '');
	    $("#showImg"+i).hide();
	    $("#file"+i).val('');
	    $("#file"+i).show();
	    $("#but"+i).show();
	    $("#del"+i).hide();
    }

    function moreExp(){
	    $("#expTeacher").show();
	    $("#more").hide();
	    $("#more").unbind("click");
	    $("#hide").show();
	    $("#hide").bind("click",hidExp);
    }
    function hidExp(){
	    $("#expTeacher").hide();
	    $("#hide").hide();
	    $("#more").show();
	    $("#more").bind("click");
	    $("#more").show();
	    $("#hide").unbind("click",hidExp);
    }

    //教师表单认证，并返回相应的json数据
    function TeacherCheck(){
		var name = $("[name='name']").val();//真实姓名
	    var credentype = $("[name='credentype']").val();//证件类型
	    var credencode = $("[name='credencode']").val();//证件号码
	    var credenImg = $("[name='credenImg']").val();//证件照片
	    var payway = $("[name='payway']").val();//付款方式
	    var data = {};

	    if(name == ''){
		    bootbox.alert('<%=__("registerinfo.nameNon")%>'+'!');
		    return false;
	    }
	    data.name = name;
	    if(credentype ==''){
		    bootbox.alert('<%=__("registerinfo.typeNon")%>'+"!");
		    return false;
	    }
	    data.credentype = credentype;
	    if(credencode == ''){
		    bootbox.alert('<%=__("registerinfo.NumNon")%>'+"!");
		    return false;
	    }
		data.credencode = credencode;
	    if(credenImg == ''){
		    bootbox.alert('<%=__("registerinfo.PicNon")%>'+"!");
		    return false;
	    }
		data.credenImg = credenImg;
	    if(payway == ''){
		    bootbox.alert('<%=__("registerinfo.payNon")%>'+"!");
		    return false;
	    }
	    data.payway = payway;
	    //可选项

	    var level = $("[name='level']").val();
	    var image = $("[name='image']").val();
	    var code = $("[name='code']").val();
	    if( !((level !='' && image !=''  && code !='') ||(level =='' && image ==''  && code ==''))){
		    bootbox.alert('<%=__("registerinfo.complete")%>'+"!");
		    return false;
	    }
	    if(level !='' && image !=''  && code !='') {
			var acadecerti = {};
		    acadecerti.level = level;
		    acadecerti.image = image;
		    acadecerti.code = code;
		    data.acadecerti = JSON.stringify(acadecerti);
	    }
		if(imageArrxx.length > 0){
			data.servexerti  = JSON.stringify(imageArrxx);
		}

	    var workexp = $("[name='workexp']").val();
	    if(workexp !=''){
		    data.workexp = workexp;
	    }
	    return data;
    }


	function closeImg(that,i){
		$(that).parent().remove();
		var newarr = new Array();
		$("#honorList").empty();
		for(var x = 0 ;x < imageArr.length ; x++){
			if(x != i){
				var xx = imageArr[x];
				var model = '	<div style="margin-bottom: 3px;" class="col-sm-5"><a onclick=closeImg(this,'+newarr.length+')  class="close-link closeIcon" style="position: absolute; left: 53px;"> <i class="fa fa-times"></i> </a>'
						+'<img title="'+xx.info+'" class="hhhimg" style="width:50px;height:50px;" src="'+xx.image+'">'
						+'</div>';
				$("#honorList").append(model);
				newarr.push(xx);
			}
		}
		imageArr = newarr;
	}

	function closeImgxx(that,i){
		$(that).parent().remove();
		var newarr = new Array();
		$("#honorListxx").empty();
		for(var x = 0 ;x < imageArrxx.length ; x++){
			if(x != i){
				var xx = imageArrxx[x];
				var model = '	<div style="margin-bottom: 3px;" class="col-sm-5"><a onclick=closeImgxx(this,'+newarr.length+')  class="close-link closeIcon" style="position: absolute; left: 53px;"> <i class="fa fa-times"></i> </a>'
						+'<img title="'+xx.info+'" class="hhhimg" style="width:50px;height:50px;" src="'+xx.image+'">'
						+'</div>';
				$("#honorListxx").append(model);
				newarr.push(xx);
			}
		}
		imageArrxx = newarr;
	}

    //机构认证
    function  orderCheck() {
		var data = {};
		var compname = $("[name='compname']").val();
		if (compname == '') {
			bootbox.alert('<%=__("registerinfo.comNon")%>'+"!");
			return false;
		}
		data.name = compname;
		var yyimage = $("[name='yyimage']").val();
		if (yyimage == '') {
			bootbox.alert('<%=__("registerinfo.busPhotoNon")%>'+"!");
			return false;
		}
		data.image = yyimage;
		var leadname = $("[name='leadname']").val();
		var leadcode = $("[name='leadcode']").val();
		var leadimage = $("[name='leadimage']").val();
		if( !((leadname !='' && leadcode !=''  && leadimage !='') ||(leadname =='' && leadcode ==''  && leadimage ==''))){
			bootbox.alert('<%=__("registerinfo.comNameNon")%>'+"!");
			return false;
		}
		if(leadname !='' && leadcode !=''  && leadimage !='') {
			var acadecerti = {};
			acadecerti.name = leadname;
			acadecerti.code = leadcode;
			acadecerti.image = leadimage;
			data.legalinfo  = JSON.stringify(acadecerti);
		}
		if(imageArr.length > 0){
			data.servexerti  = JSON.stringify(imageArr);
		}
		return data;
	}
    (function () {

		$(".closeIcon").click(function(){
			$(this).parent().remove();
		});
		$("#addListxx").click(function(){
			var info = $("#infoTextxx").val();
			var honorImg = $("#honorImg").val();
			var time = $("#infoTimeTextxx").val();
			if( !((info !='' && honorImg !='' && time !='') )){
				bootbox.alert('<%=__("registerinfo.comCer")%>'+"!");
				return false;
			}
			var servexerti = {};
			if(info !='' && honorImg !='' && time !=''){

				servexerti.info = info;
				servexerti.image = honorImg;
				servexerti.time = time;
			}
			var model = '<div style="margin-bottom: 3px;" class="col-sm-5"><a onclick=closeImgxx(this,'+imageArrxx.length+')  class="close-link closeIcon" style="position: absolute; left: 53px;"> <i class="fa fa-times"></i> </a>'
					+'<img title="<%=__("registerinfo.time")%>:'+time+" <%=__("registerinfo.brief")%>:"+info+'" class="hhhimg" style="width:50px;height:50px;" src="'+honorImg+'">'
					+'</div>';
			imageArrxx.push(servexerti);
			$("#honorListxx").append(model);
		});

		$("#addList").click(function(){
			var info = $("#infoText").val();
			var honorImg = $("#infoImg").val();
			var time = $("#infoTimeText").val();
			if( !((info !='' && honorImg !='' && time !='') )){
				bootbox.alert('<%=__("registerinfo.comCer")%>'+"!");
				return false;
			}
			var servexerti = {};
			if(info !='' && honorImg !='' && time !=''){

				servexerti.info = info;
				servexerti.image = honorImg;
				servexerti.time = time;
			}
			var model = '	<div style="margin-bottom: 3px;" class="col-sm-5"><a onclick=closeImg(this,'+imageArr.length+')  class="close-link closeIcon" style="position: absolute; left: 53px;"> <i class="fa fa-times"></i> </a>'
					+'<img title="<%=__("registerinfo.time")%>:'+time+" <%=__("registerinfo.brief")%>:"+info+'" class="hhhimg" style="width:50px;height:50px;" src="'+honorImg+'">'
					+'</div>';
			imageArr.push(servexerti);
			$("#honorList").append(model);
		});


	    $(":radio[name='usertype']").click(function(){
			var userType = $(this).val();

		    if(userType == 1){

			    $("#teacher").show();
			    $("#org").hide();
		    }else{

			    $("#org").show();
			    $("#teacher").hide();
		    }
		    $(".hidDiv").hide();
	    });

	$("#sub").click(function(){
		var userRole = $(":radio:checked").val();
		var data ;
		if(userRole == '1'){
			data = TeacherCheck();
			console.log(data);
			if(typeof data !='object' &&!data){
				return;
			}
			data.userrole = userRole;
			$.ajax({
				url: '/users/authenticate',
				type: 'POST',
				dataType:"json",
				data: data,
				success: function(data1){
					console.log(data1);
					if(200 === data1.code) {

						bootbox.confirm({
							buttons: {
								confirm: {
									label: '<%=__("registerinfo.confirm")%>',
									className: 'btn-myStyle'
								},
								cancel: {
									label: '<%=__("registerinfo.cancel")%>',
									className: 'btn-default'
								}
							},
							message: '<%=__("registerinfo.success")%>'+"?",
							callback: function(result) {
								if(result){
									//改成进入用户中心界面
									window.location.href='/users/center';
								}else{
									window.location.href= '/';
								}
							}
						});


					} else {
						alert("上传失败");
					}

				},
				error: function(){
					$("#spanMessage").html('<%=__("registerinfo.fail")%>');
				}
			});
		}else{
			data = orderCheck();
			console.log(data);
			if(typeof data !='object' &&!data){
				return;
			}
			data.userrole = userRole;
			$.ajax({
				url: '/users/authagency',
				type: 'POST',
				dataType:"json",
				data: data,
				success: function(data1){
					console.log(data1);
					if(200 === data1.code) {

						bootbox.confirm({
							buttons: {
								confirm: {
									label: '<%=__("registerinfo.confirm")%>',
									className: 'btn-myStyle'
								},
								cancel: {
									label: '<%=__("registerinfo.cancel")%>',
									className: 'btn-default'
								}
							},
							message: '<%=__("registerinfo.success")%>'+"?",
							callback: function(result) {
								if(result){
									//改成进入用户中心界面
									window.location.href='/users/center';
								}else{
									window.location.href= '/';
								}
							}
						});


					} else {
						alert('<%=__("registerinfo.uploadFail")%>'+"!");
					}

				},
				error: function(){
					$("#spanMessage").html('<%=__("registerinfo.fail")%>');
				}
			});
		}
	})




    })();
</script>
</html>