<div class="col-lg-9">
<div class="family">
    <h1 class="family-hd"><%= profilecourse.title %></h1>
</div>
<div class="teacher-tool-bar clearfix">

    <div class="tool-right r">
                <span class="tool-item tool-pager">
                    <span class="pager-num">
                        <b id="searcht-nowpage" class="pager-cur"><%= nowpage%></b>/<em id="searcht-totalpage" class="pager-total"><%= totalpage%></em>
                    </span>
                    <a id="page-prev-btn" class="pager-action pager-prev hide-text disabled"><%= profilecourse.prevpage %></a>
                    <a id="page-next-btn" class="pager-action pager-next hide-text disabled"><%= profilecourse.nextpage %></a>
                </span>
    </div>
</div>
<ul class="follow-list">

</ul>
</div>