

<div class="col-lg-4">

    <a id="teacher-info-box" class="ts-teacher-list box-border">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-circle-m img-responsive" src="<%= teacher.portrait %>" />
            </div>

            <div class="col-sm-8">
                <div class="teacher-infor">
                    <h1><%= teacher.name %></h1>
                    <p> <%= teacheritem.workexp %>:&nbsp;<%= teacher.workexp %></p>
                    <p> <%= teacheritem.mothertongue %>:&nbsp;<%= teacher.mothertongue %></p>
                    <p> <%= teacheritem.almamater %>:&nbsp;<%= teacher.almaMater %></p>
                    <p> <%= teacheritem.collegedegree %>:&nbsp;<%= teacher.collegeDegree %></p>
                    <p> <%= teacheritem.skilledcourse %>:&nbsp;<%= teacher.skilledcourse %></p>
                    <p id="agency-name-btn" agencyid="<%= teacher.agencyid %>"> <%= teacheritem.currentagency %>:&nbsp;<%= teacher.agencyname %></p>
                    <div class="starshow">
                        <span class="small-icos stargood"></span>
                        <span class="small-icos stargood"></span>
                        <span class="small-icos stargood"></span>
                        <span class="small-icos stargood"></span>
                        <span class="small-icos starcom"></span>
                    </div>
                </div>
            </div>
            <div class="t-about">来吧同学！来吧同学！来吧同学！来吧同学！来吧同学！</div>
        </div>
    </a>

</div>