

<div class="ibox float-e-margins white-bg">
    <div class="ibox-content">
        <div class="tab-content">
            <div id="contact-1" class="tab-pane active">
                <div class="row m-b-lg">
                    <div class="col-lg-8 text-center">
                        <div class="m-b-sm">
                            <img alt="头像" class="img-rect" src="<%= agency.image %>"
                                 style="width: 150px">
                            <div class="m-t-xs font-bold"><p><%= agency.name %></p></div>
                        </div>
                    </div>
                </div>
                <div class="teacher-profile-scroll">
                    <div class="full-height-scroll">

                        <strong><%= agencydetail.profiledetail %></strong>

                        <ul class="list-group clear-list">

                            <li class="list-group-item">
                                <%= agencydetail.profilecity %>:&nbsp;<%= agency.city %>
                            </li>
                            <li class="list-group-item">
                                <%= agencydetail.profilephone %>:&nbsp;<%= agency.phone %>
                            </li>
                            <li class="list-group-item">
                                <%= agencydetail.profilelegalperson %>:&nbsp;<%= agency.legalname %>
                            </li>
                            <li class="list-group-item">
                                <%= agencydetail.profileteachercount %>:&nbsp;<%= agency.teachercount %>
                            </li>
                            <li class="list-group-item">
                                <%= agencydetail.profilecoursescount %>:&nbsp;<%= agency.coursecount %>
                            </li>
                            <li class="list-group-item">
                                <%= agencydetail.profilestarlevel %>:&nbsp;<%= agency.starlevel %>
                            </li>

                        </ul>
                        <strong><%= agencydetail.introduction %></strong>
                        <p>
                            <%= agency.introduction%>
                        </p>
                        <button id="join-agency-btn" type="button" class="btn btn-primary btn-sm btn-block"><i
                                    class="fa fa-pencil-square"></i> <%= agencydetail.joinus %>
                        </button>
                        <hr/>
                        <strong><strong><%= agencydetail.qualificationhonor %></strong></strong>
                        <div id="vertical-timeline" class="vertical-container dark-timeline">
                            <% agency.servexerti.forEach(function(servexerti){ %>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon gray-bg">
                                    <i class="fa fa-graduation-cap"></i>
                                </div>
                                <div class="vertical-timeline-content">
                                    <p><%= servexerti.info %></p>
                                    <span class="vertical-date small text-muted"><%= servexerti.time %></span><br/>
                                </div>
                            </div>

                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>