<!--<div class="row leftmargin animated fadeInRight">-->
    <!--<div class="row wrapper leftmargin border-bottom white-bg page-heading">-->
        <!--<div class="col-lg-8">-->
            <!--<div class="row wrapper border-bottom white-bg page-heading">-->
                <!--<div class="col-sm-4">-->
                    <!--<h2><%= locale.StudentManage.StudentManage %></h2>-->
                    <!--<ol class="breadcrumb">-->
                        <!--<li>-->
                            <!--<a href="#home"><%= locale.StudentManage.Home %></a>-->
                        <!--</li>-->
                        <!--<li class="active">-->
                            <!--<strong><%= locale.StudentManage.StudentManage %></strong>-->
                        <!--</li>-->
                    <!--</ol>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row m-b-sm m-t-sm">-->
                <!--<div class="col-md-12 pull-right">-->
                    <!--<div class="input-group">-->
                        <!--<input id="input-search" type="text"  class="input-sm form-control">-->
                        <!--<span class="input-group-btn">-->
                            <!--<button id="btn-search" type="button" class="btn btn-sm btn-primary"> <%= locale.StudentManage.Search %></button>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div id="agencies-studentmanage-filter"></div>-->

            <!--<div class="wrapper wrapper-content">-->
                <!--<div class="project-list">-->
                    <!--<div class="row tab-content">-->
                        <!--<div class="toolbar">-->
                            <!--<ul class="nav nav-tabs">-->
                                <!--<span class="pull-right small text-muted"></span>-->
                                <!--<li class="studentmanage-nav-tab active" data-state="-1"><a data-toggle="tab" ><i class="fa fa-user"></i>  <%= locale.StudentManage.All %></a></li>-->
                                <!--<li class="studentmanage-nav-tab" data-state="0"><a data-toggle="tab" ><i class="fa fa-user"></i>  <%= locale.StudentManage.Acting %></a></li>-->
                                <!--<li class="studentmanage-nav-tab" data-state="1"><a data-toggle="tab" ><i class="fa fa-briefcase"></i>  <%= locale.StudentManage.Once %></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row tab-content">-->
                        <!--<div id="studentmanage-list">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="col-lg-4">-->
            <!--<div class="ibox-content">-->
                <!--<div class="row">-->
                    <!--<div id="agencies-studentmanage-chart">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div id="agencies-studentmanage-chart-desc">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div id="mystudents-detail-container">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div class="row leftmargin animated fadeInRight" xmlns="http://www.w3.org/1999/html">
    <div class="row wrapper leftmargin border-bottom white-bg page-heading mt25" style="border: solid 1px #e7eaec;min-height: 703px">
        <div class="col-sm-12 col-md-12">
            <div class="row tab-content">
                <ul class="sh-right-tab clearfix " style="padding-left: 0px;border-bottom: 1px solid #e7eaec;">
                    <span class="pull-right small text-muted"></span>
                    <li style="list-style-type:none;" class="studentmanage-nav-tab on" data-state="-1">
                        <a data-toggle="tab" ><i class="fa fa-user">

                            </i>&nbsp;&nbsp;<%= locale.StudentManage.All %>&nbsp;&nbsp;
                        </a>
                        <div class="tb-selected-indicator"></div>
                    </li>
                    <li style="list-style-type:none;" class="studentmanage-nav-tab" data-state="0"><a data-toggle="tab" >
                            <i class="fa fa-user"></i>
                            <%= locale.StudentManage.Acting %>
                        </a>
                        <div class="tb-selected-indicator"></div>
                    </li>
                    <li style="list-style-type:none;" class="studentmanage-nav-tab" data-state="1">
                        <a data-toggle="tab" ><i class="fa fa-briefcase"></i>
                            <%= locale.StudentManage.Once %>
                        </a>
                        <div class="tb-selected-indicator"></div>
                    </li>

                </ul>

            </div>

        </div>
        <div class="col-lg-10 col-md-10">
            </br>
        <div class="row m-b-sm m-t-sm">
            <div class="col-md-12 pull-right">
                <div class="input-group">
                    <input id="input-search" type="text"  class="input-sm form-control">
                        <span class="input-group-btn">
                            <button id="btn-search" type="button" class="btn btn-sm btn-primary"> <%= locale.StudentManage.Search %></button>
                        </span>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-10 col-md-10">

            <div class="wrapper wrapper-content" style="padding-top: 0px;position: relative;left: 14px;">

                <div class="row tab-content" style="margin-top:10px">
                    <div id="studentmanage-list">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="ibox-content">
                <div class="row">
                    <div id="agencies-studentmanage-chart">
                    </div>
                </div>
                <div class="row">
                    <div id="agencies-studentmanage-chart-desc">
                    </div>
                </div>
            </div>
            <div id="mystudents-detail-container">
            </div>
        </div>
    </div>
</div>