<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" id="homeview-complate-formgroup">
            <div id="formGroup" class="form-group">
                <div class="row">
                    <div class="col-md-9 col-md-offset-3"><strong><%= locale.BaseInfo.Location %>:&nbsp;&nbsp;</strong><input id="workexp-location"
                                                                                       name="location"
                                                                                       check-type="required"
                                                                                       required-message="Please Enter The Location">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-9 col-md-offset-3">
                        <div class="bootstrap-timepicker">

                            <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= locale.BaseInfo.Organization %>:&nbsp;&nbsp;</strong><input id="workexp-organization" name="organization" type="text"
                                                         class="input-small">
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-9 col-md-offset-3">
                        <div class="bootstrap-timepicker">

                            <strong><%= locale.BaseInfo.Dates %>:&nbsp;&nbsp;</strong><input id="workexp-dates" name="dates" type="text"
                                                                                   class="input-small">
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-9 col-md-offset-3">
                        <div class="bootstrap-timepicker">
                            <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= locale.BaseInfo.Job %>:&nbsp;&nbsp;</strong><input id="workexp-jobs" name="jobs" type="text"
                                                                            class="input-small">
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-9 col-md-offset-3">
                        <div class="bootstrap-timepicker">
                            <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= locale.BaseInfo.Description %>:&nbsp;&nbsp;</strong><input id="workexp-description" name="description" type="text"
                                                                                  class="input-small">
                        </div>
                    </div>
                </div>
                <br/>

            </div>
        </form>
    </div>
</div>
