<div class="row">
    <div  class="col-sm-1"></div>
    <div class="col-sm-11">


            <div class="ibox">
                <div class="ibox-content">


                    <div class="project-list">

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th><%= locale.MyCourse.No %></th>
                                <th><%= locale.MyCourse.CourseName %></th>
                                <th><%= locale.MyCourse.Teacher %></th>
                                <th><%= locale.MyCourse.LastClassTime %></th>
	                            <th><%= locale.MyCourse.CourseVenue %></th>
                            </tr>
                            </thead>
                            <tbody>

                            <%var i = 0;%>
                            <% _.each(datas, function(item){ %>
                            <tr>
                                <td ><%=++i%></td>
                                <td class="project-title">
                                  <span><%=item.courceid.name%></span>
                                </td>
                                <td class="project-completion">
	                                <span>

		                                 <%=item.teacherid.name%>
	                                </span>
                                </td>
	                            <td>
		                            <span>
			                            <%=item.nextdate%>

		                            </span>

	                            </td>
	                            <td>
		                            <span>
			                            <%=item.nextaddress%>
		                            </span>

	                            </td>
                                <td class="project-actions">
                                    <button   keyvalue="<%=item._id%>" class="btn btn-xs btn-info" style="background-color: #337ab7;color: #fff" type="button"><i  class="fa fa-paste"></i> <%= locale.MyCourse.CourseHome %></button>
                                </td>
                            </tr>
							<%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

    </div>
</div>