<!--<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <div class="project-list">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th><%= locale.MyHomework.No %></th>
                            <th><%= locale.MyHomework.Homeworktitle %></th>
                            <th><%= locale.MyHomework.Score %></th>
                            <th><%= locale.MyHomework.Timeofcorrecting %></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% var i = 0; %>
                        <% _.each(datas, function(item){ %>
                        <tr>
	                        <td ><%= ++i %></td>
	                        <td class="project-title">
		                        <%= item.hwid.hwtitle %>
	                        </td>
	                        <td>
		                        <%= item.score %>
	                        </td>
	                        <td>
		                        <%= (item.teamarkdate.slice(0, 10) + ' ' + item.teamarkdate.slice(11, 16)) %>
	                        </td>
	                        <td class="project-actions">
		                        <button modelid="<%= item.id %>"  class="mhw-checked-find-view-tab btn btn-xs btn-info" type="button"><i  class="fa fa-eye"></i> <%= locale.MyHomework.View %></button>
	                        </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>-->


<div class="sameday-box" style="display:block;"><!--当日详情-->
    <table class="table-box sameday-table">
        <tr>
            <td><%= locale.MyHomework.No %></td>
            <td><%= locale.MyHomework.Homeworktitle %></td>
            <td><%= locale.MyHomework.Score %></td>
            <td><%= locale.MyHomework.Timeofcorrecting %></td>
            <td></td>
        </tr>
        <% var i = 0; %>
        <% _.each(datas, function(item){ %>
        <tr>
            <td><%= ++i %></td>
            <td class="project-title">
                <%= item.hwid.hwtitle %>
            </td>
            <td>
                <%= item.score %>
            </td>
            <td>
                <%= (item.teamarkdate.slice(0, 10) + ' ' + item.teamarkdate.slice(11, 16)) %>
            </td>
            <td class="project-actions">
                <button modelid="<%= item.id %>" class="mhw-checked-find-view-tab btn btn-xs btn-info" style="background-color: #337ab7;color: #fff" type="button">
                    <%= locale.MyHomework.View %>
                </button>
            </td>
        </tr>
        <% }) %>

    </table>

</div>