

<!--筛选条件-->
<div class="container">

    <div class="search-terms">
        <div class="totle-terms"><%= conditionview.searchtitle %><span class="span1">共<span class="span2">1024</span>个课程</span></div>

        <div id="condition-item-list" class="mainpart-terms">

        </div>

    </div>

    <div id ="sort-c-list" class="sorts-terms clearfix">
        <p class="pull-left">排序方式：</p>
        <div class="sorts-left pull-left">
            <a class="sort-item active" sorttag = "score"><%= conditionview.sorttagscore %></a>
            <a class="sort-item" sorttag = "likes"><%= conditionview.sorttaglikes %></a>
        </div>
        <div class="sorts-right pull-right">
            <span class="pager-num">
                <b id="searchc-nowpage"><%= nowpage%></b>/<em id="searchc-totalpage" class="pager-total"><%= totalpage%></em>
            </span>
            <a id="page-prev-btn" class="pager-action pager-prev"><</a>
            <a id="page-next-btn" class="pager-action pager-next">></a>
        </div>
    </div>

</div>