<div class="col-lg-3">
    <div id="course-info-box" class="course-list box-border">

        <div class="img-d">
            <img width="100%" height="100%" src="<%= course.image %>" />
            <div class="mark-money"><%= course.price %></div>
        </div>

        <div class="course-list-pd">
            <p class="p1"><%= course.name %></p>
            <p class="p2"><%= course.introduction %></p>
            <div class="infor-learn clearfix">
                <span class="pull-left"><%= course.teachername %></span>
                <span class="pull-right"><%= course.agencyname %></span>
            </div>
            <div class="clearfix">
                <div class="pag-learn pull-left"><i class="small-icos identity-ico"></i>身份认证</div>
                <div class="pag2-learn pull-right"><i class="small-icos area-ico"></i>西湖区</div>
            </div>
        </div>

    </div>
</div>