<!--<div class="box-border percore-right right-space mt25">
    <div class="row tab-content">
        <div class="toolbar">
            <div class="sh-right-td">
                <ul class="sh-right-tab clearfix">
                    <span class="pull-right small text-muted"></span>
                    <li id="myhomework_unfinish_btn" class="my-homework-nav-tab on" style="list-style-type:none;">
                        <a data-toggle="tab" href="#myhomework-homework-acting">
                            <%= locale.MyHomework.Acting %>
                        </a>
                        <div class="tb-selected-indicator"></div>
                    </li>
                    <li id="myhomework_commit_btn" class="my-homework-nav-tab" style="list-style-type:none;">
                        <a data-toggle="tab" href="#myhomework-homework-pushed">
                            <%= locale.MyHomework.Submitted %>
                        </a>
                        <div class="tb-selected-indicator"></div>
                    </li>
                    <li id="myhomework_gard_btn" class="my-homework-nav-tab" style="list-style-type:none;">
                        <a data-toggle="tab" href="#myhomework-homework-checked">
                            <%= locale.MyHomework.Checkedhomework %>
                        </a>
                        <div class="tb-selected-indicator"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row tab-content">
        <div class="tab-pane active" id="myhomework-homework-acting">
            <div class="panel-body ">
                <div class=" row" id="myhomework-homework-acting-tab">
                </div>
            </div>
        </div>
        <div class="tab-pane" id="myhomework-homework-pushed">
            <div class="panel-body">
                <div class="myhomework-homework-tab row" id="myhomework-homework-pushed-tab">
                </div>
            </div>
        </div>
        <div class="tab-pane" id="myhomework-homework-checked">
            <div class="panel-body">
                <div class="myhomework-homework-tab row" id="myhomework-homework-checked-tab">
                </div>
            </div>
        </div>

    </div>
</div>-->


<!--<div class="container percore">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-10">-->
            <!--<div class="box-border percore-right right-space mt25">-->
                <!--<div class="sh-right-td">-->
                    <!--<ul class="sh-right-tab clearfix">-->
                        <!--<span class="pull-right small text-muted"></span>-->
                        <!--<li id="myhomework_unfinish_btn" class="my-homework-nav-tab on" style="list-style-type:none;">-->
                            <!--<a data-toggle="tab" href="#myhomework-homework-acting">-->
                                <!--<%= locale.MyHomework.Acting %>-->
                            <!--</a>-->
                            <!--<div class="tb-selected-indicator"></div>-->
                        <!--</li>-->
                        <!--<li id="myhomework_commit_btn" class="my-homework-nav-tab" style="list-style-type:none;">-->
                            <!--<a data-toggle="tab" href="#myhomework-homework-pushed">-->
                                <!--<%= locale.MyHomework.Submitted %>-->
                            <!--</a>-->
                            <!--<div class="tb-selected-indicator"></div>-->
                        <!--</li>-->
                        <!--<li id="myhomework_gard_btn" class="my-homework-nav-tab" style="list-style-type:none;">-->
                            <!--<a data-toggle="tab" href="#myhomework-homework-checked">-->
                                <!--<%= locale.MyHomework.Checkedhomework %>-->
                            <!--</a>-->
                            <!--<div class="tb-selected-indicator"></div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->

                <!--<div class="culumbox plr-20 row tab-content">-->
                    <!--<div class="row mlr-brief tab-pane active" id="myhomework-homework-acting">-->
                        <!--<div class="panel-body ">-->
                            <!--<div class=" row" id="myhomework-homework-acting-tab">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row mlr-brief tab-pane" id="myhomework-homework-pushed">-->
                        <!--<div class="panel-body">-->
                            <!--<div class="myhomework-homework-tab row" id="myhomework-homework-pushed-tab">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row mlr-brief tab-pane" id="myhomework-homework-checked">-->
                        <!--<div class="panel-body">-->
                            <!--<div class="myhomework-homework-tab row" id="myhomework-homework-checked-tab">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->



<div class="row leftmargin animated fadeInRight page-content-home">
    <div class="row wrapper leftmargin border-bottom white-bg page-heading mt25" style="border: solid 1px #e7eaec;min-height: 703px">
        <div class="col-sm-12 col-md-12">
            <div class="row tab-content">
                <div class="sh-right-td">
                    <ul class="sh-right-tab clearfix" style="padding-left: 0px;border-bottom: 1px solid #e7eaec;">
                        <span class="pull-right small text-muted"></span>
                        <li id="myhomework_unfinish_btn" class="my-homework-nav-tab on" style="list-style-type:none;">
                            <a data-toggle="tab" href="#myhomework-homework-acting">
                                <%= locale.MyHomework.Acting %>
                            </a>
                            <div class="tb-selected-indicator"></div>
                        </li>
                        <li id="myhomework_commit_btn" class="my-homework-nav-tab" style="list-style-type:none;">
                            <a data-toggle="tab" href="#myhomework-homework-pushed">
                                <%= locale.MyHomework.Submitted %>
                            </a>
                            <div class="tb-selected-indicator"></div>
                        </li>
                        <li id="myhomework_gard_btn" class="my-homework-nav-tab" style="list-style-type:none;">
                            <a data-toggle="tab" href="#myhomework-homework-checked">
                                <%= locale.MyHomework.Checkedhomework %>
                            </a>
                            <div class="tb-selected-indicator"></div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-lg-11 col-md-11">

            <div class="wrapper wrapper-content" style="padding-top: 0px;">

                <div class="culumbox plr-20 row tab-content">
                    <div class="row mlr-brief tab-pane active" id="myhomework-homework-acting">
                        <div class="panel-body ">
                            <div class=" row" id="myhomework-homework-acting-tab">
                            </div>
                        </div>
                    </div>
                    <div class="row mlr-brief tab-pane" id="myhomework-homework-pushed">
                        <div class="panel-body">
                            <div class="myhomework-homework-tab row" id="myhomework-homework-pushed-tab">
                            </div>
                        </div>
                    </div>
                    <div class="row mlr-brief tab-pane" id="myhomework-homework-checked">
                        <div class="panel-body">
                            <div class="myhomework-homework-tab row" id="myhomework-homework-checked-tab">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
