<div class="row leftmargin animated fadeInRight page-content-home">
    <div class="row wrapper leftmargin border-bottom white-bg page-heading mt25" style="border: solid 1px #e7eaec;min-height: 703px">
       <div class="col-sm-12 col-md-12">
           <div class="row tab-content">
               <ul class="sh-right-tab clearfix " style="padding-left: 0px;border-bottom: 1px solid #e7eaec;">
                   <span class="pull-right small text-muted"></span>
                   <li class="on" style="list-style-type:none;">
                       <a data-toggle="tab" href="#home-manage-mycourse-calendar">
                           <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                           <%= locale.Home.courseCalendar %></a>
                       <div class="tb-selected-indicator"></div>
                   </li>
               </ul>

           </div>
       </div>
        <div class="col-lg-9 col-md-9">
            <div class="wrapper wrapper-content">


                <div class="row tab-content" style="margin-top:10px">
                    <div class="tab-pane active" id="home-manage-mycourse-calendar">
                        <div class="panel-body">
                            <div class="row" id="home-student-act-calendar">
                            </div>
                        </div>
                    </div>
                </div>



            </div>


        </div>
        <div class="col-lg-3 col-md-3">
            <div class="ibox">
                <div class="ibox">
                    <div class="row" id="home-student-act-right">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="detail-container">
    </div>
</div>






<!--<div class="row leftmargin animated fadeInRight page-content-home">-->
    <!--<div class="row wrapper leftmargin border-bottom white-bg page-heading">-->
        <!--<div class="col-lg-8 col-md-8">-->
            <!--&lt;!&ndash;<div class="row wrapper border-bottom white-bg page-heading">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-sm-4">&ndash;&gt;-->
            <!--&lt;!&ndash;<h2><%= locale.Home.home%></h2>&ndash;&gt;-->
            <!--&lt;!&ndash;<ol class="breadcrumb">&ndash;&gt;-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#home"><%= locale.Home.home%></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="active">&ndash;&gt;-->
            <!--&lt;!&ndash;<strong><%= locale.Home.home%></strong>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ol>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="wrapper wrapper-content" style="padding-top: 0px;">-->
                <!--<div class="row tab-content">-->
                    <!--<ul class="sh-right-tab clearfix mt25 box-border" style="padding-left: 0px;">-->
                        <!--<span class="pull-right small text-muted"></span>-->
                        <!--<li class="active" style="list-style-type:none;"> <a data-toggle="tab" href="#home-manage-mycourse-calendar"><i class="fa fa-calendar"></i> <%= locale.Home.courseCalendar %></a></li>-->
                        <!--<li class="" style="list-style-type:none;"><a data-toggle="tab" href="#home-manage-mycourse-today"><i class="fa fa-list-alt"></i><%=locale.Home.weekendInfo%></a></li>-->
                    <!--</ul>-->

                <!--</div>-->
                <!--<div class="row tab-content" style="margin-top:10px">-->
                    <!--<div class="tab-pane active" id="home-manage-mycourse-calendar">-->
                        <!--<div class="panel-body">-->
                            <!--<div class="row" id="home-manage-act-calendar">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="tab-pane " id="home-manage-mycourse-today">-->
                        <!--<div class="panel-body">-->
                            <!--<div class="row" id="home-manage-act-today">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-4 col-md-4">-->
            <!--<div class="ibox">-->
                <!--<div class="ibox">-->
                    <!--<div class="row" id="home-manage-act-right">-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="row">-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1">-->
                                    <!--<strong><p><%=locale.Home.courseArranged%>:</p></strong>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div id="home-arrange-calendar" class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">-->
                                <!--&lt;!&ndash;可安排课程&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div id="detail-container">-->
    <!--</div>-->
    <!--<div id="homeview-course-define-dialog">-->

    <!--</div>-->
<!--</div>-->
